<footer class="text-center-xs space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <ul class="list-inline">
          <!--<li> <a href="/legal"><span class="h6 ">Información Legal</span></a> </li>-->
        </ul>
      </div>
      <div class="col-sm-5 text-right text-center-xs">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7"><span class="type--fine-print">©
                                <span class="update-year">2017</span> sicuit</span></div>
      <div class="col-sm-5 text-right text-center-xs"> <a class="type--fine-print" href="#">tecnico at sicuit.es</a> </div>
    </div>
  </div>
</footer>