
<div class="nav-container">
  <div class="via-1490963351563" via="via-1490963351563" vio="sicuit">
    <div class="bar bar--sm visible-xs">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <a href="/"> <img class="logo logo-dark" alt="logo" src="{{ '/assets/img/logo-sicuit.png' | relative_url  }}"> <img class="logo logo-light" alt="logo" src="{{ "/assets/img/logo-sicuit.png" | relative_url  }}"> </a>
          </div>
          <div class="col-xs-9 col-sm-10 text-right">
            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
          </div>
        </div>
      </div>
    </div>
      <!--<nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute bar--transparent" >-->
    <nav id="menu1" class="bar bar-1 hidden-xs" >
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-sm-2 hidden-xs">
            <div class="bar__module">
              <a href="/"> <img class="logo logo-dark" alt="logo" src="{{ '/assets/img/logo-sicuit.png' | relative_url  }}"> <img class="logo logo-light" alt="logo" src="{{ '/assets/img/logo-sicuit.png' | relative_url  }}"> </a>
            </div>
          </div>
         <div class="col-md-11 col-sm-10 text-right text-left-xs text-right-sm">
            <div class="bar__module">
              <ul class="menu-horizontal text-left">
                <li> <a  class="inner-link" href="/">Inicio</a> </li>
              </ul>
            </div>
            <!--<div class="bar__module">
              <a data-scroll-class="100vh:active" class="btn btn--sm btn--primary type--uppercase" href="/#le-llamamos"> <span class="btn__text">
                                    Te llamamos
                                </span> </a>
            </div>-->
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>