<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icons/apple-icon.png" | relative_url  }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/favicon-32x32.png" | relative_url  }}" >
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/favicon-16x16.png" | relative_url  }}" >
  <link rel="manifest" href="{{ "/assets/icons/manifest.json" | relative_url  }}">
  <meta name="theme-color" content="#ffffff">
  <!--  Essential META Tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="{{ "/assets/icons/apple-icon.png" | relative_url  }}">
  <meta property="og:url" content="http://sicuit.es">
  <meta name="twitter:card" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta property="og:site_name" content="sicuit.es S,L">
  <meta name="twitter:image:alt" content="">

  <!--<meta property="fb:app_id" content="" />-->
  <meta name="twitter:site" content="@sicuit">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  {% if jekyll.environment == "development" %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/fonts.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/stack-interface.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/socicon.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/lightbox.min.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/flickity.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/iconsmind.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/jquery.steps.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/bootstrap.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/theme.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/cookieconsent.min.css" | relative_url  }}" >
  {% else %}
  <!-- When we generate critical CSS, uncomment this Jekyll statement -->
  <style type="text/css">{% include critical.css %}</style>
  <!-- Load CSS -->
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/vendor.css" | relative_url  }}" >
  <link rel="stylesheet" type="text/css" media="all" href="{{ "/assets/css/main.css" | relative_url  }}" >
  {% endif %}
</head>
