
{% if jekyll.environment == "development" %}
    <script src="{{ "/assets/js/vendor/jquery-3.1.1.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/granim.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/jquery.steps.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/easypiechart.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/typed.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/loadingoverlay.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/flickity.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/datepicker.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/datepicker_es_ES.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/vendor/smooth-scroll.min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/scripts.js" | relative_url  }}"></script>
{% else %}
    <script src="{{ "/assets/js/bundle-min.js" | relative_url  }}"></script>
    <script src="{{ "/assets/js/custom-min.js" | relative_url  }}"></script>
{% endif %}

{% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
{% endif %}
