<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body data-smooth-scroll-offset="77">
  <a id="start"></a>
    {% include header.html %}

    <div class="main-container">
        <a id="inicio" class="in-page-link"></a>
        {{ content }}
        {% include footer.html %}
    </div>

    {% include js.html %}

  </body>

</html>
