---
layout: default
---
<section class="text-center">
<!--  <div class="background-image-holder">
    <img alt="background" src="{{ '/assets/img/cover.jpg' | relative_url  }}" />
  </div>-->
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="typed-headline">
          <!--<span class="h1">Somos sicuit, tu hacker en casa.</span>-->
          <span class="h1">Especialistas en auditorias de seguridad </span>
          <h1>&nbsp;<span class="typed-text typed-text--cursor color--primary" data-typed-strings="gestión de vulnerabilidades,test de penetración, hacking ético"></span></h1>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--secondary space--xxs">
  <div class="imageblock__content col-md-6 col-sm-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="{{ '/assets/img/auditoria-min.jpeg' | relative_url  }}" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-7">
        <h2>Auditoría Seguridad</h2>
        <p class="lead">
          Con el objetivo de detectar a posibles brechas de seguridad en su negocio, realizamos auditorias de seguridad identificando sus activos y pasivos que forman parte de su organización.

          En ellas detallamos las mejores acciones a realizar para minimizar o eliminar las amenazas detectas, ofreciendo soporte en todo momento al departamento de IT para su implementación.

        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="imageblock switchable switchable--switch feature-large bg--secondary space--xxs">
  <div class="imageblock__content col-md-6 col-sm-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="{{ '/assets/img/hacking-min.jpeg' | relative_url  }}" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-7">
        <h2>Hacking Ético</h2>
        <p class="lead">
          Nos apoyamos en el hacking ético, permitiéndonos identificar vulnerabilidades en los sistemas y detectar a tiempo el índice de riesgo de ellos.
          Para ello solemos realizar métodos de ataque controlado, que nos permiten comprobar la resistencia o vulnerabilidad de la red.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
{% comment %}
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 >Seguridad en números</h1>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <!--end of row-->
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="20" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Ransomware</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="43" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Virus</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="34" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Phishing</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="17" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Ingeniería Social</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="43" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Robo de Información</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="17" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">DoS/DDoS Attack</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="9" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Fraude Electrónico</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="13" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Suplantación identidad</span>
          </div>
          <!--end radial-->
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="feature">
          <div class="radial" data-value="56" data-size="148" data-bar-width="8" data-color="#4a90e2">
            <span class="h3 radial__label">Malware</span>
          </div>
          <!--end radial-->
        </div>
      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>
{% endcomment %}
<section class="text-center bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Nuestra metodología </h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="bg--secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 text-center">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ '/assets/img/metodologia-min.jpg' | relative_url  }}">
        <span></span>
      </div>
      <div class="col-sm-6 col-md-5">
        <ol class="process-3">
          <li class="process_item">
            <div class="process__number">
              <span>1</span>
            </div>
            <div class="process__body">
              <h4>Recopilación</h4>
              <p>
                Preparamos y recopilamos el objetivo a auditar.
              </p>
            </div>
          </li>
          <li class="process_item">
            <div class="process__number">
              <span>2</span>
            </div>
            <div class="process__body">
              <h4>Reconocimiento</h4>
              <p>
                A través de diferentes técnicas, reconocemos todos los elementos a auditar sean activos como pasivos.
              </p>
            </div>
          </li>
          <li class="process_item">
            <div class="process__number">
              <span>3</span>
            </div>
            <div class="process__body">
              <h4>Test de penetración</h4>
              <p>
               Por medio de test de penetración, realizamos un análisis exhaustivo de todas las vulnerabilidades encontradas.
              </p>
            </div>
          </li>
          <li class="process_item">
            <div class="process__number">
              <span>4</span>
            </div>
            <div class="process__body">
              <h4>Reporte</h4>
              <p>
                Generamos y entregamos dos informes personalizados: el técnico con soluciones a medida y otro para la dirección con soluciones estratégicas.
              </p>
            </div>
          </li>
        </ol>
      </div>
        <!--end feature-->
      </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Contacta con nosotros</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center ">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7">
        <div class="row">
          <form action="https://formspree.io/tecnico@sicuit.es" class="text-left form-email" data-success="Muchas gracias, en breve nos pondremos en contacto contigo." data-error="Por favor, rellena los campos correctamente." data-recaptcha-sitekey="6LfR60EUAAAAADWxbw8EQ2Z1j3k3cEm_90TMwe-A" data-recaptcha-theme="light">
            <input name="debug_mode" id="debug_mode" type="hidden" value="{{ site.debug_mode | escape }}" />
            <div class="col-sm-6">
              <label>Nombre:</label>
              <input type="text" name="Name" class="validate-required" />
            </div>
            <div class="col-sm-6">
              <label>Dirección correo:</label>
              <input type="email" name="_replyto" class="validate-required validate-email" />
            </div>
            <div class="col-sm-12">
              <label>Mensaje:</label>
              <textarea rows="6" name="Message" class="validate-required"></textarea>
            </div>
            <div class="col-sm-5 col-md-4">
              <button type="submit" class="btn btn--primary type--uppercase">Enviar</button>
            </div>
            <input type="hidden" name="_next" value="https://www.sicuit.es/thanks.html" />
            <input type="hidden" name="_subject" value="Nuevo Contacto!" />
            <input type="hidden" name="_language" value="es" />
            <input type="text" name="_gotcha" style="display:none" />
          </form>
        </div>
        <!--end of row-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


