---
layout: default
---
<section class="space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        {{ content }}
      </div>
    </div>
  </div>
<section>